.Countries {
    width: 800px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    height: calc(100vh - 40px);
}

.CountryInfo {
    width: 60%;
}
.CounriesList {
    width: 40%;
}

.CountryInfo,.CounriesList {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CounriesList {
    padding: 10px 0;
}

.CounriesList li {
    color: #6b70ff;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 10px;
}

.CounriesList li:hover,.CounriesList li.active {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #dedb74;
    color: red;
}